/* #region */
body {
    align-items: center;
    display: flex;
    justify-content: center;
}
main {
    margin-top: 140px;
    padding: 0;
    /* height: 80vh; */
    text-shadow: 0 0 14px black;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* #endregion */

/* #region Login/Signup Form Styles */
#account-container {
    background-color: #444;
    border-radius: 40px;
    box-shadow: 0 0 10px 1px #444;
    width: 100%;
}
.account-form {
    display: flex;
    flex-direction: column;
    margin: 10px 26px;
}
.account-form > h3,
.account-form > input[type="email"],
.account-form > input[type="password"],
.account-form > button,
.account-form > p,
.account-form > a {
    font: inherit;
    margin-bottom: 12px;
}
.account-form h3 {
    font: revert;
    margin: 10px 0 20px 0;
    text-align: center;
}
.account-form input[type="email"],
.account-form input[type="password"] {
    border: 1px solid #ddd;
    border-radius: 18px;
    box-shadow: 0 0 20px 0 #333;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 15px;
}
.account-form input[type="email"]:focus,
.account-form input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}
.account-form button {
    background-color: #007bff;
    border: none;
    border-radius: 18px;
    box-shadow: 0 0 20px 0 #333;
    color: white;
    cursor: pointer;
    font: inherit;
    padding: 15px;
    transition: background-color 0.3s ease;
}
.account-form button:hover {
    background-color: #444;
}
.account-form p {
    text-align: center;
}
.account-form a {
    color: #007bff;
    font-weight: bold;
    margin-left: 15px;
    text-decoration: none;
}
.account-form a:hover {
    text-decoration: underline;
}
/* #endregion */

/* #region Account Update Page Styles */
.email-update-form a,
.password-update-form a {
    margin-left: 0;
    text-align: center;
}
.email-update-form a:hover,
.password-update-form a:hover {
    cursor: pointer;
}
/* Account Buttons */
.account-buttons-container,
.anilist-button-container {
    display: flex;
    margin: 20px 0;
    gap: 20px;
}
.account-buttons-container .logout {
    background-color: darkred;
}
.account-buttons-container .backup {
    background-color: darkgreen;
}
.account-buttons-container .delete {
    background-color: darkred;
}
.account-buttons-container a,
.anilist-button-container a {
    border: none;
    border-radius: 18px;
    box-shadow: 0 0 20px 0 #333;
    color: white;
    cursor: pointer;
    font: inherit;
    padding: 15px;
    transition: background-color 0.3s ease;
}
.account-buttons-container a:hover,
.anilist-button-container a:hover {
    background-color: #444;
}
/* AniList Buttons */
.anilist-button-container a {
    background-color: #333;
}
/* #endregion */

/* #region Media Queries */
@media (max-width: 600px) {
    #account-container {
        width: 90%;
    }
}
/* #endregion */
